<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css" >
<meta charset="UTF-8">
<title>Person Exist</title>
</head>



<body>

<div>
	<img src="mohitBG.png" class="img">
</div>


<h1 align="center" style="color:white;">User Already Exist....</h1>






<div class="link-div">
    <a href="/">
<button type="submit" class="mg-b"> INSERT</button>
    </a>

        <a href="/update">
    <button class="btn">UPDATE</button>
</a>

<a href="/display">
        <button class="mg-l btn">DISPLAY</button>
</a>

</div>



</body>
</html>
